#
#  Ignore temporary files
#
*.o
*.list
*.map
#
#  Binary files (the end result is a S-record file)
#
OS68k
Task1
Task2
Task3
Task4
Task5
Task6
Task7
Task8
Task9
Task10
Task11
Task12
Task13
Task14
Task15

